.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 9rem 2fr 4fr 3fr;

  @media screen and (max-width: 800px) {
    grid-template-columns: 2fr 4fr 3fr;
    grid-template-rows: 8rem 1fr;
  }

  @media screen and (max-width: 700px) {
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 16rem 1fr;
    position: relative;
  }
  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
    grid-template-rows: 16rem repeat(2, max-content);
  }
}
